@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    user-select: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
#jonathan{
  position: absolute;
  width: 100%;
  height: 200px;
  background: #333;
  font-size: 15pt;
}
#logclick{
  position: absolute;
  width: 100%;
  top: 60px;
  left: 50%;
  text-align: center;
  transform: translate(-50%,0);
  font-size: 17.5pt;
}
@media only screen and (max-width: 700px){
  #logclick{font-size: 15pt;}
}
#disclick{
  position: absolute;
  width: 100%;
}

/*BRB*/
#unpressed{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
#pressed{
	position: absolute;
	width: 300px;
	height: 300px;
	visibility: hidden;
	border-radius: 150px;
}
#button{
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  border-radius: 150px;
  cursor: pointer;
}
/* Other BTNS */

/* Šmol change */
.changelog{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  bottom: 10px;
  right: 10px;
  filter: drop-shadow(0 0 10px #000);
  background: #0377c4;
  border-radius: 50%;
}
.changelog svg{
  height: 100%;
  aspect-ratio: 1/1;
  /*filter: drop-shadow(0 0 10px #000);*/
  color: #fff;
}

/* Ligt NODE */
@media (prefers-color-scheme: light){
  body{
    background: #fff;
  }
  #jonathan{
    background: radial-gradient(125% 100% at 50% 0%,#9aff9a 20%,#fff 70%);
  }
  #disclick{
    color: #000;
    text-shadow: none;
  }
}

/* DARJ MODE */
@media (prefers-color-scheme: dark){
  body{
    background: #333;
  }
  #jonathan{
    background: radial-gradient(125% 100% at 50% 0%,#5add5a 20%,#333 70%);
  }
  #disclick{
    color: #f5f5f5;
    text-shadow: 2px 2px 4px #000;
  }
}