@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
body{
    user-select: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
#jonathan{
  position: absolute;
  width: 100%;
  height: 200px;
  background: #333;
  font-size: 15pt;
}
#logclick{
  position: absolute;
  width: 100%;
  top: 60px;
  left: 50%;
  text-align: center;
  transform: translate(-50%,0);
  font-size: 17.5pt;
}
@media only screen and (max-width: 700px){
  #logclick{font-size: 15pt;}
}
#disclick{
  position: absolute;
  width: 100%;
}

/*BRB*/
#unpressed{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
#pressed{
	position: absolute;
	width: 300px;
	height: 300px;
	visibility: hidden;
	border-radius: 150px;
}
#button{
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  border-radius: 150px;
  cursor: pointer;
}
/* Other BTNS */

/* Šmol change */
.changelog{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 0 10px #000);
  background: #046baf;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: .5s;
  color: #000;
}
.changelog svg{
  height: 100%;
  aspect-ratio: 1/1;
  /*filter: drop-shadow(0 0 10px #000);*/
  color: #fff;
  cursor: pointer;
}
.changelog.large{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  min-width: 270px;
  min-height: 420px;
  
  border-radius: 1rem;
  transition: .5s;

  padding: 1rem 2.5rem;
}
.changelog.large svg{
  position: absolute;
  z-index: 999;
  color: #fff;
  top: 10px;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: #046baf;
  border-radius: 50%;
}
.changelog.large div{
  background-color: #eee;
  box-shadow: inset 10px 10px 15px #333;
  border-radius: 1.5rem;
  width: 250px;
  height: 400px;
  padding: .5rem 1.5rem;
  overflow-y: scroll;
  transition: .5s;
  scroll-behavior: smooth;
}
.changelog.large div h1{
  text-align: center;
  text-decoration: underline;
}
.changelog.large div h2{text-align: center;transition: .5s;}
.changelog.large div h3{text-align: center;transition: .5s;}
.changelog.large div p {text-align: justify;transition: .5s;}

/* Ligt NODE */
@media (prefers-color-scheme: light){
  body{
    background: #fff;
  }
  #jonathan{
    background: radial-gradient(125% 100% at 50% 0%,#9aff9a 20%,#fff 70%);
  }
  #disclick{
    color: #000;
    text-shadow: none;
  }
  .changelog{
    background: #0377c4;
  }
}

/* DARJ MODE */
@media (prefers-color-scheme: dark){
  body{
    background: #333;
  }
  #jonathan{
    background: radial-gradient(125% 100% at 50% 0%,#5add5a 20%,#333 70%);
  }
  #disclick{
    color: #f5f5f5;
    text-shadow: 2px 2px 4px #000;
  }
}