@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
body{
    user-select: none;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#jonathan{
    position: fixed;
    z-index: 500;
    top: 0%;
    width: 100%;
    height: 200px;
    background: radial-gradient(125% 100% at 50% 0%,#fa552c 20%,transparent 70%);
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    position: relative;
    /* border: none; */
    top: 5px;
    margin: 2rem 3vw 2rem 3vw;
    padding: 1rem 2rem;
    border-radius: 6.9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
    filter: drop-shadow(0px 20px 14px #444);
}
main section button{
    width: 32px;
    height: 32px;
    border-radius: 0.5rem;
    border: none;
    filter: drop-shadow(10px 10px 14px #444);
}

.sites{
    width: 350px;
    height: 250px;
    flex-direction: column;
    justify-content: space-around;
}

.sites h2{
    text-transform: uppercase;
    text-align: center;
}

.site{
    position: relative;
    width: 150px;
    height: 50px;
    background: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 6.9px;
    text-decoration: none;
}

.site button{
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site img{
    height: 25px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #00ec00);
    border-radius: 0 0 0.5rem 0.5rem;
}