@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  /* By MrEidam */
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 15pt;
  background-color: #333;
} 

/* Clisks */
#jonathan{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0;
  top: 0;
  background: radial-gradient(125% 100% at 50% 0%,#11ABFF 20%,transparent 70%);
/* By MrEidam */
}
#logclick{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5ch;
  margin: 0 5vw 0 5vw;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 69;
  width: auto;
  top: 30px;
  height: 85px;
  filter: drop-shadow(10px 8px 6px #333);
}

#imgcli{
  width: 50px;
  height: 50px;
  margin: 0.1rem;
  width: 100px;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  object-fit: contain;
  pointer-events: none;
}

.backtop{
  height: 230px;
  max-width: auto;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 0 0 90px 90px;
  background: linear-gradient(#11ABFF, #ccccccab);
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* By MrEidam */
.item{
  border: none;
  top: 5px;
  margin: 2rem 3vw 2rem 3vw;
  padding: 1rem;
  border-radius: 6.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 340px;
  filter: drop-shadow(0px 20px 14px #444);
  text-align: center;
}

.item img{
  width: 100px;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  object-fit: contain;
  filter: drop-shadow(10px 8px 6px #333);
  pointer-events: none
}
.buttons{
  display: flex;
  justify-content: space-around;
}
/* By MrEidam */
.buttons button{
  background-color: var(--Bcolor);
  border-radius: 8px;
  margin: 1rem;
}

.buyone{
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.buymax{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* By MrEidam */

.clickbtn{
  display: flex;
  justify-content: space-around;
}
.clickbtn button{
  background-color: var(--Bcolor);
  border-radius: 8px;
  margin: 0 1rem 0.5rem 1rem;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  border: none;
  filter: drop-shadow(8px 6px 4px #555);
}
@media only screen and (max-width: 555px){
  .row{
    flex-direction: column;
    justify-content: center;
  }
  .item{
    width: auto;
    margin: 2rem 10vw 2rem 10vw;
  }
}

::-webkit-scrollbar{
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #00ec00);
  border-radius: 0 0 0.5rem 0.5rem;
}