@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  /* By MrEidam */
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 15pt;
  background-color: #333;
} 

/* Clisks */
#jonathan{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0;
  top: 0;
  background: radial-gradient(125% 100% at 50% 0%,#11ABFF 20%,transparent 70%);
/* By MrEidam */
}

#search{
  min-width: 230px;
  height: 30px;
  padding-left: .5rem;
  margin: 10px 15px;
  border-radius: 5px;
  border: 1px solid #000;
}

#logclick{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5ch;
  margin: 0 5vw 0 5vw;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 69;
  width: auto;
  top: 30px;
  height: 85px;
  filter: drop-shadow(10px 8px 6px #333);
}

#imgcli{
  width: 50px;
  height: 50px;
  margin: 0.1rem;
  width: 100px;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  object-fit: contain;
  pointer-events: none;
}

.backtop{
  height: 230px;
  max-width: auto;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 0 0 90px 90px;
  background: linear-gradient(#11ABFF, #ccccccab);
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* By MrEidam */
.item{
  border: none;
  top: 5px;
  margin: 2rem/* 1.5vw 2rem 1.5vw*/;
  padding: .5rem 1rem 0 .5rem;
  border-radius: 6.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 275px;
  min-height: 250px;
  filter: drop-shadow(0px 20px 14px #444);
  text-align: center;
}

.item .title{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.item .title h3{
  margin-right: .5rem;
}
.item .title img{
  width: 45px;
  aspect-ratio: 1/1;
  margin-right: 1rem;
  object-fit: contain;
  filter: drop-shadow(10px 8px 6px #333);
  pointer-events: none
}
.item .title span{
  color: #00ec00;
  font-size: 12.5px;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.buttons .column{
  display: flex;
  flex-direction: column;
}
/* By MrEidam */
.buttons button{
  background-color: var(--Bcolor);
}

.buyone, .buyone0, .buyone1{
  width: 190px;
  height: 50px;
}
.buyone{border-radius: 8px 0 0 8px;}
.buyone0{border-radius: 8px 0 0 0;border-bottom: #00000022 solid;}
.buyone1{border-radius: 0 0 0 8px;}

.buymax, .buymax0, .buymax1{
  width: 45px;
  height: 50px;
  border-left: #00000033 solid;
}
.buymax{border-radius: 0 8px 8px 0;}
.buymax0{border-radius: 0 8px 0 0;border-bottom: #00000022 solid;}
.buymax1{border-radius: 0 0 8px 0;}

/* By MrEidam */

.clickbtn{
  display: flex;
}
.clickbtn button{
  background-color: var(--Bcolor);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  border: none;
  filter: drop-shadow(8px 6px 4px #555);
  cursor: pointer;
}

.upwards{
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(10px 8px 6px #333);
  background: #999;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}
.upwards.active{
  bottom: 32px;
  opacity: 1;
  pointer-events: auto;
}
.upwards img{
  width: 1.25em;
  filter: drop-shadow(10px 8px 6px #333);
}

::-webkit-scrollbar{
  background: transparent;
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #00ec00);
  border-radius: 0 0 0.5rem 0.5rem;
}

@media (prefers-color-scheme: dark){
  body{
    background: #333;
    color: #fff;
  }
  .item{
    background: #666055;
  }
  #logclick{
    background: #666055;
    border: 5px dashed #006;
    filter: drop-shadow(10px 8px 6px #222);
  }
  #disclick{
    text-shadow: 2px 2px 4px #000;
  }
}
@media (prefers-color-scheme: light){
  body{
    background: #ddd;
    color: #000;
  }
  .item{
    background: #ffefd5;
  }
  #logclick{
    background: #ffefd5;
    border: 5px dashed #00f;
    filter: drop-shadow(10px 8px 6px #222);
  }
  #disclick{
    text-shadow: none;
  }
}

@media screen and (max-width: 600px){
  .item{
  }
}