@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 15pt;
  background-color: #333;
}
#jonathan{
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  margin: 0;
  top: 0;
  background: radial-gradient(125% 100% at 50% 0%,#efff11 20%,transparent 70%);
}

/* By MrEidam */

/* Lemons */
#loglm{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5ch;
  margin: 0 5vw 0 5vw;
  padding: 1rem;
  border: 5px dashed #d3e418e1;
  border-radius: 1rem;
  z-index: 69;
  width: auto;
  top: 30px;
  height: 85px;
  filter: drop-shadow(10px 8px 6px #333);
}

#imglm{
  width: 50px;
  height: 50px;
  margin: 0.1rem;
  width: 100px;
  aspect-ratio: 1/1;
  margin: 0.1rem;
  object-fit: contain;
  pointer-events: none;
}
/* By MrEidam */

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* By MrEidam */
.item{
  border: none;
  top: 5px;
  margin: 2rem 3vw 2rem 3vw;
  padding: 1rem;
  border-radius: 6.9px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  min-height: 340px;
  filter: drop-shadow(0px 20px 14px #444);
}

.item img{
  width: 100px;
  aspect-ratio: 1/1;
  margin: 0.5rem;
  object-fit: contain;
  filter: drop-shadow(10px 8px 6px #333);
  pointer-events: none
}
.buttons{
  display: flex;
  justify-content: space-around;
}
/* By MrEidam */
.buttons button{
  background-color: var(--Bcolor);
  border-radius: 8px;
  margin: 1rem;
}

.buyone{
  width: 200px;
  height: 50px;
}

.buyTone{
  width: 100px;
  height: 50px;
}

.buymax{
  width: 50px;
  height: 50px;
}

/* By MrEidam */

.clickbtn{
  display: flex;
  justify-content: space-around;
}
.clickbtn button{
  background-color: var(--Bcolor);
  border-radius: 8px;
  margin: 0 1rem 0.5rem 1rem;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
button{
  border: none;
  cursor: pointer;
  filter: drop-shadow(8px 6px 4px #555);
}

@media only screen and (max-width: 550px){
  .row{
    flex-direction: column;
    justify-content: center;
  }
  .item{
    width: auto;
    margin: 2rem 10vw 2rem 10vw;
  }
}


#prog{
  appearance: none;
  width: 200px;
}

h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  word-spacing: 10px;
}

#ItsTime{
  position: relative;
  margin: 1rem;
  width: 69%;
  height: 69px;
  display: none;
  border-radius: 6.9px;
  transition: 0.5s;
  animation: time 1s linear infinite;
  background-color: #3d3;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
  word-spacing: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: cell;
}

@keyframes time{
  from{filter: hue-rotate(0deg);}
  to{filter: hue-rotate(360deg);}
}

::-webkit-scrollbar{
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #00ec00);
  border-radius: 0 0 0.5rem 0.5rem;
}


/* Ligt NODE */
@media (prefers-color-scheme: light){
  body{
    background: #ddd;
    color: #000;
  }
  #loglm{
    background: #ffefd5;
    filter: drop-shadow(10px 8px 6px #222);
  }
  .item{
    background: #ffefd5;
  }
}

/* DARJ MODE */
@media (prefers-color-scheme: dark){
  body{
    background: #333;
    color: #fff;
  }
  .item{
    background: #666055;
  }
  #loglm{
    background: #666055;
    filter: drop-shadow(10px 8px 6px #222);
  }
}